@page
@model SignalAssigment_2.Pages.Product_Page.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1 style="margin-top:100px" class="h1-title">Index</h1>

<p>
    <a asp-page="Create" class="sec-btn primary-btn">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].QuantityPerUnit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ProductImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Supplier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Product) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityPerUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ProductID" class="sec-sub-title">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ProductID" class="sec-sub-title">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ProductID" class="sec-sub-title">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
