@page
@model SignalAssigment_2.Pages.MenuModel
@{
    ViewData["Title"] = "Menu";
}

<div id="viewport">
    <div id="js-scroll-content">

        <section style="background-image: url(assets/images/menu-bg.png);"
                 class="our-menu section bg-light repeat-img" id="menu">
            <div class="sec-wp">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="sec-title text-center mb-5">
                                <h2 class="h2-title">wake up early, <span>eat fresh & healthy</span></h2>
                                
                            </div>
                        </div>
                    </div>
                    
                    <div class="menu-list-row">
                        <div class="row g-xxl-5 bydefault_show" id="menu-dish">

                            @foreach (var product in Model.Products)
                            {
                                <div class="col-lg-4 col-sm-6 dish-box-wp breakfast" data-cat="breakfast">
                                    <div class="dish-box text-center">
                                        <div class="dist-img">
                                            <img src="@product.ProductImage" alt="">
                                        </div>
                                        <div class="dish-rating">
                                            5
                                            <i class="uil uil-star"></i>
                                        </div>
                                        <div class="dish-title">
                                            <h3 class="h3-title">@product.ProductName</h3>
                                            <p>120 calories</p>
                                        </div>
                                        <div class="dish-info">
                                            <ul>
                                                <li>
                                                    <p>Category</p>
                                                    <b>@product.CategoryID</b>
                                                </li>
                                                <li>
                                                    <p>Quantity</p>
                                                    <b>@product.QuantityPerUnit</b>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="dist-bottom-row">
                                            <ul>
                                                <li>
                                                    <b>@product.UnitPrice</b>
                                                </li>
                                                <li>
                                                    <button class="dish-add-btn">
                                                        <i class="uil uil-plus"></i>
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            }
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="two-col-sec section">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5">
                        <div class="sec-img mt-5">
                            <img src="assets/images/pizza.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="sec-text">
                            <h2 class="xxl-title">Chicken Pepperoni</h2>
                            <p>
                                This is Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet dolores
                                eligendi earum eveniet soluta officiis asperiores repellat, eum praesentium nihil
                                totam. Non ipsa expedita repellat atque mollitia praesentium assumenda quo
                                distinctio excepturi nobis tenetur, cum ab vitae fugiat hic aspernatur? Quos
                                laboriosam, repudiandae exercitationem atque a excepturi vel. Voluptas, ipsa.
                            </p>
                            <p>
                                This is Lorem ipsum dolor sit amet consectetur adipisicing elit. At fugit laborum
                                voluptas magnam sed ad illum? Minus officiis quod deserunt.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="two-col-sec section pt-0">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 order-lg-1 order-2">
                        <div class="sec-text">
                            <h2 class="xxl-title">Chicken Pepperoni</h2>
                            <p>
                                This is Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet dolores
                                eligendi earum eveniet soluta officiis asperiores repellat, eum praesentium nihil
                                totam. Non ipsa expedita repellat atque mollitia praesentium assumenda quo
                                distinctio excepturi nobis tenetur, cum ab vitae fugiat hic aspernatur? Quos
                                laboriosam, repudiandae exercitationem atque a excepturi vel. Voluptas, ipsa.
                            </p>
                            <p>
                                This is Lorem ipsum dolor sit amet consectetur adipisicing elit. At fugit laborum
                                voluptas magnam sed ad illum? Minus officiis quod deserunt.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6 order-lg-2 order-1">
                        <div class="sec-img">
                            <img src="assets/images/sushi.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>




