@page
@model SignalAssigment_2.Pages.Account_Page.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1 style="margin-top:100px" class="h1-title">Details</h1>

<div>
    <h4 class="h4-title">Account</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Type)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Account.AccountID" class="sec-btn primary-btn">Edit</a> |
    <a asp-page="./Index" class="sec-btn">Back to List</a>
</div>
